
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gane $1,000 AHORA!!!</title>
</head>
<body>
    
    <h1>Hola QUERIDO USUARIOOOO!!!</h1><br>
    <h4>Te comentamos: Esta es una página solo para aquellos privilegiados que la han encontrado, esta pagina se autoborrará cuando llegue a una 
        cantidad límite que hemos establecido de la cantidad de: 50 visitas. Tu eres el numero #12. ¡FELICIDADES!.
    </h4>
    <h4><a href="../controller/php.php">Clickea acá para reclamar tus $1,000.00</a></h4>


</body>
</html>
