
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FELICIDADES!!!!</title>
</head>
<body>
    
    <h1>TE FELICITAMOS!! Has ganado $1,000.00 en efectivo. Ve a canjearlos YAAA!</h1>


    <h4>Espera...</h4> <br>
    <h4>¿Acaso se encriptaron tus archivos de la carpeta SDR404 ubicada en tu escritorio?</h4><br>
    <h4>JJAJAJAJAJAJAJAJA, no fue nuestra intención.</h4><br>
    <h4>Para desencriptar tus archivos, ve al siguiente link: </h4> <br>
    <a href="desencriptar.html">Desencriptar mis archivos -></a>
</body>
</html>

